img {
  width: 100%;
  background: url(http://365jia.cn/images/load.gif) no-repeat center center;
}
body {
  /*width: 1600px;
  margin: 0 auto;*/
}
#waterfall {
  width: 1600px;
  margin: 0 auto;
}
#waterfall ul {
/*  height: 500px;
  min-height: 500px;*/
  overflow: hidden;
}
#waterfall ul li {
  padding: 10px 80px 30px 10px;
  background: #ddd;
  visibility: hidden;
}
#waterfall ul li img {
  /*width: 200px;*/
}

.btn1 {
  position: fixed;
  right: 80px;
  bottom: 200px;
  background: #ccc;
  padding: 10px 20px;
  cursor: pointer;
}

.box li {
  visibility: hidden;
}